
/* GLOBAL*/

p{
  font-family: 'Fira Sans', sans-serif;
}

h1{
  font-family: 'Fira Sans', sans-serif;
}


/* NAVBAR*/

.navbar{
  background-color:#294196;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  border-bottom:1px solid #b9b9b9;
  font-family: 'Lato', sans-serif;

    -webkit-box-shadow: 0px 3px 5px #333;
    -moz-box-shadow:    0px 3px 5px #333;
    box-shadow:         0px 3px 5px #333;
    z-index:10;
}

.navbar a{
  color:#cccccc !important;

}

.navbar a:hover{
  color:#ffffff !important;
  background-color:#646464 !important;
}

.navbar-header .navbar-brand{
  color:white !important;
  font-size:1.5em;
}

.navbar-default .nav li.active a {
 color:#1d1d1d !important;
}

/* HEADER*/

.header{
  padding:140px 0 60px 0;

  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  /*border-bottom:2px solid #333;*/


}


.header h1{
  color:#b9b9b9;
  font-size: 5.5em;
  font-family: 'Lato', sans-serif;
}

.header p{
  color:#b9b9b9;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
}

.header img{
   border:2px solid #b9b9b9;

}

.header .btn{
  padding:5px 70px 5px 70px;
  border-radius: 0px;
  color: #b9b9b9;
  background-color: rgba(00, 00, 00, 0.1);
  border-color: #b9b9b9;
}


.header .btn:hover{

  color: #b9b9b9;
  background-color: rgba(00, 00, 00, 0.1);
}

@media(max-width:768px){
  .header{
    text-align: center;
    padding:20%;
  }
  .header h1{
    font-size: 3.5em;
  }
  .header p{
    font-size: 1.8em;
  }
}

@media(max-width:992px){
  .header{
    text-align: center;
  }
}


/* ABOUT ME*/

.about{
  padding:100px 0 100px 0;

  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 0px 3px 5px #333;
  -moz-box-shadow:    0px 3px 5px #333;
  box-shadow:         0px 3px 5px #333;
  z-index:12;
}

.about h1{
  text-align: center;
  color:#294196;
}

/* CAREER*/

.career{
  padding:60px 0 60px 0;
  text-align: center;
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#b9b9b9;

}

.career .sub-title{
  padding-bottom: 20px;
}


/* TECHNOLOGY*/

.technologies{
  padding:90px 0 90px 0;
  text-align: center;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.technologies h1{
  font-size:2.5em;
  color:#294196;
}

.technologies .sub-title{
  padding-bottom: 20px;
}

.technologies .tech-logo li img{
  opacity: 0.3;
  padding-bottom: 20px;
}

.technologies .tech-logo li:hover img{
  opacity: 1;
}


/*PROJECTS*/

.projects{
  padding:60px 0 60px 0;
  text-align: center;
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #005C97, #363795);
  background: -o-linear-gradient(right, #005C97, #363795);
  background: linear-gradient(to left, #005C97, #363795); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:#b9b9b9;
}


.projects img{
  padding:0px 0 0px 0;
  border:2px solid #b9b9b9;
  text-align: center;
}


@media(max-width:480){
  .projects img{
    height:60%;
    width: 60%;
    padding:10px;
  }
}
/*CONTACT*/

.contact-me{
  padding: 100px 0 100px 0;
  text-align: center;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #E0EAFC, #CFDEF3);
  background: -o-linear-gradient(right, #E0EAFC, #CFDEF3);
  background: linear-gradient(to left, #E0EAFC, #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-me h1{
  font-size: 2em;
  color: #294196;
}

.contact-me .sub-title{
  padding-bottom: 15px;
}

.contact-me .fa{
    color: #294196;
    padding: 5px 10px 20px 0;
}

.contact-me li{
  padding: 10px;
}

/*FOOTER*/

.footer{
  background:#294196;
  color: #b9b9b9;
  border-top: 1px solid #b9b9b9;
  padding:14px 0 14px 0;
  text-align: center;
}

.tech{
  padding-bottom: 20px;
  padding-top: 20px;
}

.about-me-blockquote{
  color: #294196;
  border-color: #294196;
}

.project{
  cursor:pointer;
}
